<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="myFortune" class="com.shakthi.dependancyInjection.HappyFortuneService"></bean>

    <bean id="mycoach" class="com.shakthi.dependancyInjection.TrackCoach">
        <constructor-arg ref="myFortune"/>
    </bean>
    <bean id="mycoach1" class="com.shakthi.dependancyInjection.BaseballCoach">
        <constructor-arg ref="myFortune"/>
    </bean>

</beans>
