<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- bean definitions here -->


    <!-- bean definitions here -->
    <bean id="myFortuneService" class="com.shakthi.setterInjection.HappyFortuneService"></bean>

    <bean id="mycoach" class="com.shakthi.setterInjection.TrackCoach">
<!--                 <constructor-arg ref="myFortune"/>-->
    </bean>
    <bean id="mycoach1" class="com.shakthi.setterInjection.BaseballCoach">
<!--                <constructor-arg ref="myFortune"/>-->
    </bean>
    <bean id="myCricketCoach" class="com.shakthi.setterInjection.CricketCoach">
        <property name="fortuneService" ref="myFortuneService"/>
<!--  setter literal value injectio  -->
        <property name="emailAddress" value="rjshakthi4498@gmail.com"/>
        <property name="team" value="BangaloreRoyal"/>
    </bean>

</beans>
